body {
    background-color: #0c0c0c;
    width: 100vw;
    height: 100vh;
    /* position: absolute; */
    /* inset: 0;
    /* display: flex; */
    /* place-content: center; */
    /* align-items: center; */
    /* overflow: hidden;  */
}

.gradient {
    position: absolute;
    inset: 0;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden;
    --size: 150px;
    --speed: 100s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    margin-top: 25vh;
    margin-left: 37.35vw;
    width: var(--size);
    height: var(--size);
    filter: blur(1000rem) grayscale(15%);
    -webkit-filter: blur(1000rem) grayscale(15%);
    opacity: 0.15;
    background-image: linear-gradient(#37eba9, #5b37eb);
    background-image: -webkit-linear-gradient(#37eba9, #5b37eb);
    background-image: -moz-linear-gradient(#37eba9, #5b37eb);
    animation: rotate var(--speed) var(--easing) alternate linear infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    z-index: -1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 720px) {
    .gradient {
        --size: 500px;
    }
}

.mt-100 {
    margin-top: 300px;
}