body {
    background-color: #0c0c0c;
    width: 100vw;
    height: 100vh;
    /* position: absolute; */
    /* inset: 0;
    /* display: flex; */
    /* place-content: center; */
    /* align-items: center; */
    /* overflow: hidden;  */
}

.gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    --size: 350px;
    --speed: 100s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    margin-top: 25vh;
    margin-left: 37.35vw;
    width: var(--size);
    height: var(--size);
    filter: blur(100px) grayscale(15%);
    opacity: 0.25;
    background-image: linear-gradient(#37eba9, #5b37eb);
    animation: rotate var(--speed) var(--easing) alternate linear infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    z-index: -1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Adjust the position and size for smaller screens */
@media (max-width: 1600px) {
    .gradient {
        margin-left: 35vw;
    }
}

@media (max-width: 1450px) {
    .gradient {
        margin-left: 32.5vw;
    }
}

@media (max-width: 1025px) {
    .gradient {
        margin-left: 26vw;
    }
}

@media (max-width: 719px) {
    .gradient {
        margin-left: 25vw;
    }
}

@media (min-width: 767px) {
    .gradient {
        --size: 500px;
    }
}

.mt-100 {
    margin-top: 300px;
}
